.facility .facility__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 2rem;
  }
  
  .facility .facility__cards .facility__card {
    text-align: center;
  }
  