@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap");

:root {
  --base-color: #be9c79;
  --black-color: #333;
  --white-color: #fff;
  --light-color: #666;
  --border: 0.2rem solid var(--black-color);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

h1,
h2 {
  color: var(--black-color);
  font-family: "Merienda One", cursive;
  font-size: clamp(3rem, 4vw, 6rem);
}

h2 {
  font-size: clamp(2.5rem, 3.5vw, 4rem);
}

h3 {
  font-size: clamp(1.6rem, 2.2vw, 2rem);
  color: var(--black-color);
  padding: 1rem 0;
}

p {
  line-height: 1.5;
  color: var(--light-color);
  font-size: clamp(1.4rem, 2vw, 1.5rem);
}

section {
  padding: 3rem 0;
}

img {
  max-width: 100%;
}

/* ==== container ===== */
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 3rem;
}
/* ==== button ===== */
.btn {
  display: inline-block;
  padding: 1.2rem 3.5rem;
  background-color: var(--base-color);
  color: var(--white-color);
  font-size: 1.8rem;
  border-radius: 3rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--black-color);
}